* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  color: #333;
  display: grid;
  place-items: center;
}

.invitation-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin: 20px;
  max-width: 600px;
  max-height: 2520px;
  margin-bottom: 100px;
}

.container {
  position: relative;
  min-height: 100vh;
}

.image img {
  max-width: 100%;
  height: auto;
  display: flex;
}

.image .img1 {
  border-radius: 25px 25px 0px 0px;
}

.image .img3 {
  border-radius: 0px 0px 25px 25px;
}

.icon {
  width: 24px;
  height: 24px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 1;
  width: 600px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  padding: 10px 0px;
  margin-bottom: 0;
}

.nav-item {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  width: 50px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  gap: 5px;
  font-size: 15px;
  cursor: pointer;
}

.nav-item svg {
  color: #fff;
}

/* Calendar Popup Section */



.calendar .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.calendar .calendar-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 350px;
  height: 250px;
  background: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 25px;
}

.calendar .calendar-content .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.calendar .calendar-content .content p {
  margin-bottom: 20px;
}

.calendar .calendar-content .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 20px;
  margin-left: 20px;
}

.calendar .calendar-content .button a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  gap: 0.5rem;
  color: #222;
}

.calendar .close-btn {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: #222;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.calendar.active .overlay {
  display: block;
}

.calendar.active .calendar-content {
  transition: all 700ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
}

/* Contact Popup Section */

.contact .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.contact .contact-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 350px;
  background: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact .contact-content .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact .contact-content .content p {
  margin-bottom: 10px;
}

.contact .contact-content .all-tel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .contact-content .tel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.contact .contact-content .tel .con-btn {
  display: flex;
  gap: 1rem;
}

.contact .close-btn {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: #222;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.contact.active .overlay {
  display: block;
}

.contact.active .contact-content {
  transition: all 700ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
}

/* Location Popup Section */

.location .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.location .location-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 350px;
  height: 250px;
  background: #fff;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 25px;
}

.location .location-content .content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.location .location-content .content p {
  margin-bottom: 10px;
}

.location .location-content .loc-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.location .location-content .loc-btn a {
  text-decoration: none;
  font-size: 15px;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.location .close-btn {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: #222;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.location.active .overlay {
  display: block;
}

.location.active .location-content {
  transition: all 700ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
}

/* Music */

.music-container {
  position: fixed;
  top: 30px; /* Adjust this value to position the button vertically */
  right: 35px; /* Adjust this value to position the button horizontally */
  opacity: 0.7;
}

.music-container p {
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
}

#audio-player {
  display: none;
}

/* Responsive site */

@media only screen and (max-width: 600px) {

  .bottom-nav {
    width: 100%;
    left: 0;
  }

  .contact .contact-content {
    width: 250px;
    gap: 1rem;

  }
  
  .calendar .calendar-content {
    width: 250px;
    gap: 1rem;

  }

  .location .location-content {
    width: 250px;
    gap: 2rem;

  }
  
}

/* This is snowfall */

.g-snows {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  overflow: hidden;
}

.g-snows > li {
  opacity: 0;
  position: fixed;
  top: 0;
  border-radius: 100%;
  background-color: #fffafa;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 71%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10186ms;
          animation-duration: 10186ms;
  -webkit-animation-delay: 3513ms;
          animation-delay: 3513ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(2) {
  left: 8%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6672ms;
          animation-duration: 6672ms;
  -webkit-animation-delay: 3271ms;
          animation-delay: 3271ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(3) {
  left: 94%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7832ms;
          animation-duration: 7832ms;
  -webkit-animation-delay: 55ms;
          animation-delay: 55ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(4) {
  left: 12%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7738ms;
          animation-duration: 7738ms;
  -webkit-animation-delay: 4662ms;
          animation-delay: 4662ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(5) {
  left: 8%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5010ms;
          animation-duration: 5010ms;
  -webkit-animation-delay: 4542ms;
          animation-delay: 4542ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(6) {
  left: 31%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8674ms;
          animation-duration: 8674ms;
  -webkit-animation-delay: 4734ms;
          animation-delay: 4734ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(7) {
  left: 12%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10550ms;
          animation-duration: 10550ms;
  -webkit-animation-delay: 3778ms;
          animation-delay: 3778ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(8) {
  left: 12%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11163ms;
          animation-duration: 11163ms;
  -webkit-animation-delay: 615ms;
          animation-delay: 615ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(9) {
  left: 110%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5350ms;
          animation-duration: 5350ms;
  -webkit-animation-delay: 141ms;
          animation-delay: 141ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(10) {
  left: 45%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6572ms;
          animation-duration: 6572ms;
  -webkit-animation-delay: 2949ms;
          animation-delay: 2949ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(11) {
  left: 47%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7585ms;
          animation-duration: 7585ms;
  -webkit-animation-delay: 4954ms;
          animation-delay: 4954ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(12) {
  left: 75%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5647ms;
          animation-duration: 5647ms;
  -webkit-animation-delay: 4400ms;
          animation-delay: 4400ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(13) {
  left: 37%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6754ms;
          animation-duration: 6754ms;
  -webkit-animation-delay: 4232ms;
          animation-delay: 4232ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(14) {
  left: 88%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10881ms;
          animation-duration: 10881ms;
  -webkit-animation-delay: 1546ms;
          animation-delay: 1546ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(15) {
  left: 47%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11571ms;
          animation-duration: 11571ms;
  -webkit-animation-delay: 1090ms;
          animation-delay: 1090ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(16) {
  left: 11%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7987ms;
          animation-duration: 7987ms;
  -webkit-animation-delay: 4346ms;
          animation-delay: 4346ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(17) {
  left: 3%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5432ms;
          animation-duration: 5432ms;
  -webkit-animation-delay: 4626ms;
          animation-delay: 4626ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(18) {
  left: 2%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8573ms;
          animation-duration: 8573ms;
  -webkit-animation-delay: 4661ms;
          animation-delay: 4661ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(19) {
  left: 16%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 13730ms;
          animation-duration: 13730ms;
  -webkit-animation-delay: 2188ms;
          animation-delay: 2188ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(20) {
  left: 40%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9185ms;
          animation-duration: 9185ms;
  -webkit-animation-delay: 1622ms;
          animation-delay: 1622ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(21) {
  left: 33%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8703ms;
          animation-duration: 8703ms;
  -webkit-animation-delay: 693ms;
          animation-delay: 693ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(22) {
  left: 74%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 12129ms;
          animation-duration: 12129ms;
  -webkit-animation-delay: 3646ms;
          animation-delay: 3646ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(23) {
  left: 27%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5604ms;
          animation-duration: 5604ms;
  -webkit-animation-delay: 4994ms;
          animation-delay: 4994ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(24) {
  left: 3%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8061ms;
          animation-duration: 8061ms;
  -webkit-animation-delay: 4195ms;
          animation-delay: 4195ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(25) {
  left: 4%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5958ms;
          animation-duration: 5958ms;
  -webkit-animation-delay: 1545ms;
          animation-delay: 1545ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(26) {
  left: 45%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6259ms;
          animation-duration: 6259ms;
  -webkit-animation-delay: 1930ms;
          animation-delay: 1930ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(27) {
  left: 9%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6115ms;
          animation-duration: 6115ms;
  -webkit-animation-delay: 2722ms;
          animation-delay: 2722ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(28) {
  left: 71%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9807ms;
          animation-duration: 9807ms;
  -webkit-animation-delay: 1630ms;
          animation-delay: 1630ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(29) {
  left: 89%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6923ms;
          animation-duration: 6923ms;
  -webkit-animation-delay: 186ms;
          animation-delay: 186ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(30) {
  left: 37%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11951ms;
          animation-duration: 11951ms;
  -webkit-animation-delay: 3578ms;
          animation-delay: 3578ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(31) {
  left: 3%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5405ms;
          animation-duration: 5405ms;
  -webkit-animation-delay: 2653ms;
          animation-delay: 2653ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(32) {
  left: 45%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7478ms;
          animation-duration: 7478ms;
  -webkit-animation-delay: 605ms;
          animation-delay: 605ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(33) {
  left: 81%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7082ms;
          animation-duration: 7082ms;
  -webkit-animation-delay: 3837ms;
          animation-delay: 3837ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(34) {
  left: 92%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7096ms;
          animation-duration: 7096ms;
  -webkit-animation-delay: 4643ms;
          animation-delay: 4643ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(35) {
  left: 47%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9440ms;
          animation-duration: 9440ms;
  -webkit-animation-delay: 2947ms;
          animation-delay: 2947ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(36) {
  left: 72%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7311ms;
          animation-duration: 7311ms;
  -webkit-animation-delay: 4888ms;
          animation-delay: 4888ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(37) {
  left: 49%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 5966ms;
          animation-duration: 5966ms;
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(38) {
  left: 34%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7756ms;
          animation-duration: 7756ms;
  -webkit-animation-delay: 55ms;
          animation-delay: 55ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(39) {
  left: 55%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7467ms;
          animation-duration: 7467ms;
  -webkit-animation-delay: 2666ms;
          animation-delay: 2666ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(40) {
  left: 59%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11733ms;
          animation-duration: 11733ms;
  -webkit-animation-delay: 1642ms;
          animation-delay: 1642ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(41) {
  left: 91%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10630ms;
          animation-duration: 10630ms;
  -webkit-animation-delay: 743ms;
          animation-delay: 743ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(42) {
  left: 42%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7745ms;
          animation-duration: 7745ms;
  -webkit-animation-delay: 1563ms;
          animation-delay: 1563ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(43) {
  left: 32%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6634ms;
          animation-duration: 6634ms;
  -webkit-animation-delay: 4606ms;
          animation-delay: 4606ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(44) {
  left: 105%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5343ms;
          animation-duration: 5343ms;
  -webkit-animation-delay: 457ms;
          animation-delay: 457ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(45) {
  left: 27%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6601ms;
          animation-duration: 6601ms;
  -webkit-animation-delay: 1623ms;
          animation-delay: 1623ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(46) {
  left: 25%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8109ms;
          animation-duration: 8109ms;
  -webkit-animation-delay: 2389ms;
          animation-delay: 2389ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(47) {
  left: 17%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6770ms;
          animation-duration: 6770ms;
  -webkit-animation-delay: 585ms;
          animation-delay: 585ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(48) {
  left: 9%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8899ms;
          animation-duration: 8899ms;
  -webkit-animation-delay: 2059ms;
          animation-delay: 2059ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(49) {
  left: 59%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5492ms;
          animation-duration: 5492ms;
  -webkit-animation-delay: 2158ms;
          animation-delay: 2158ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(50) {
  left: 27%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10408ms;
          animation-duration: 10408ms;
  -webkit-animation-delay: 2549ms;
          animation-delay: 2549ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(51) {
  left: 84%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9597ms;
          animation-duration: 9597ms;
  -webkit-animation-delay: 1079ms;
          animation-delay: 1079ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(52) {
  left: 15%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 12026ms;
          animation-duration: 12026ms;
  -webkit-animation-delay: 4799ms;
          animation-delay: 4799ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(53) {
  left: 9%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6939ms;
          animation-duration: 6939ms;
  -webkit-animation-delay: 1411ms;
          animation-delay: 1411ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(54) {
  left: 53%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8795ms;
          animation-duration: 8795ms;
  -webkit-animation-delay: 3105ms;
          animation-delay: 3105ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(55) {
  left: 4%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8701ms;
          animation-duration: 8701ms;
  -webkit-animation-delay: 2474ms;
          animation-delay: 2474ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(56) {
  left: 34%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11031ms;
          animation-duration: 11031ms;
  -webkit-animation-delay: 110ms;
          animation-delay: 110ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(57) {
  left: 3%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5577ms;
          animation-duration: 5577ms;
  -webkit-animation-delay: 4017ms;
          animation-delay: 4017ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(58) {
  left: 83%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5220ms;
          animation-duration: 5220ms;
  -webkit-animation-delay: 4707ms;
          animation-delay: 4707ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(59) {
  left: 38%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8550ms;
          animation-duration: 8550ms;
  -webkit-animation-delay: 772ms;
          animation-delay: 772ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(60) {
  left: 0%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5463ms;
          animation-duration: 5463ms;
  -webkit-animation-delay: 2720ms;
          animation-delay: 2720ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(61) {
  left: 23%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10322ms;
          animation-duration: 10322ms;
  -webkit-animation-delay: 4870ms;
          animation-delay: 4870ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(62) {
  left: 11%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7893ms;
          animation-duration: 7893ms;
  -webkit-animation-delay: 4031ms;
          animation-delay: 4031ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(63) {
  left: 89%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6038ms;
          animation-duration: 6038ms;
  -webkit-animation-delay: 4372ms;
          animation-delay: 4372ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(64) {
  left: 46%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 12633ms;
          animation-duration: 12633ms;
  -webkit-animation-delay: 673ms;
          animation-delay: 673ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(65) {
  left: 111%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6919ms;
          animation-duration: 6919ms;
  -webkit-animation-delay: 3680ms;
          animation-delay: 3680ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(66) {
  left: 30%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6603ms;
          animation-duration: 6603ms;
  -webkit-animation-delay: 452ms;
          animation-delay: 452ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(67) {
  left: 27%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8067ms;
          animation-duration: 8067ms;
  -webkit-animation-delay: 175ms;
          animation-delay: 175ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(68) {
  left: 56%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8092ms;
          animation-duration: 8092ms;
  -webkit-animation-delay: 2699ms;
          animation-delay: 2699ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(69) {
  left: 39%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5386ms;
          animation-duration: 5386ms;
  -webkit-animation-delay: 3594ms;
          animation-delay: 3594ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(70) {
  left: 3%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7625ms;
          animation-duration: 7625ms;
  -webkit-animation-delay: 1662ms;
          animation-delay: 1662ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(71) {
  left: 33%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6606ms;
          animation-duration: 6606ms;
  -webkit-animation-delay: 4677ms;
          animation-delay: 4677ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(72) {
  left: 71%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11558ms;
          animation-duration: 11558ms;
  -webkit-animation-delay: 3032ms;
          animation-delay: 3032ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(73) {
  left: 98%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 12930ms;
          animation-duration: 12930ms;
  -webkit-animation-delay: 2469ms;
          animation-delay: 2469ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(74) {
  left: 39%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6505ms;
          animation-duration: 6505ms;
  -webkit-animation-delay: 1960ms;
          animation-delay: 1960ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(75) {
  left: 28%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5284ms;
          animation-duration: 5284ms;
  -webkit-animation-delay: 4570ms;
          animation-delay: 4570ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(76) {
  left: 2%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6564ms;
          animation-duration: 6564ms;
  -webkit-animation-delay: 2861ms;
          animation-delay: 2861ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(77) {
  left: 65%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5825ms;
          animation-duration: 5825ms;
  -webkit-animation-delay: 2852ms;
          animation-delay: 2852ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(78) {
  left: 61%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6962ms;
          animation-duration: 6962ms;
  -webkit-animation-delay: 833ms;
          animation-delay: 833ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(79) {
  left: 62%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9783ms;
          animation-duration: 9783ms;
  -webkit-animation-delay: 4856ms;
          animation-delay: 4856ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(80) {
  left: 86%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7672ms;
          animation-duration: 7672ms;
  -webkit-animation-delay: 2550ms;
          animation-delay: 2550ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(81) {
  left: 2%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 12911ms;
          animation-duration: 12911ms;
  -webkit-animation-delay: 3080ms;
          animation-delay: 3080ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(82) {
  left: 19%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8196ms;
          animation-duration: 8196ms;
  -webkit-animation-delay: 962ms;
          animation-delay: 962ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(83) {
  left: 26%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8055ms;
          animation-duration: 8055ms;
  -webkit-animation-delay: 610ms;
          animation-delay: 610ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(84) {
  left: 108%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5829ms;
          animation-duration: 5829ms;
  -webkit-animation-delay: 1497ms;
          animation-delay: 1497ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(85) {
  left: 64%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7912ms;
          animation-duration: 7912ms;
  -webkit-animation-delay: 1513ms;
          animation-delay: 1513ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(86) {
  left: 20%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 13497ms;
          animation-duration: 13497ms;
  -webkit-animation-delay: 3379ms;
          animation-delay: 3379ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(87) {
  left: 12%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10456ms;
          animation-duration: 10456ms;
  -webkit-animation-delay: 284ms;
          animation-delay: 284ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(88) {
  left: 51%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11384ms;
          animation-duration: 11384ms;
  -webkit-animation-delay: 257ms;
          animation-delay: 257ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(89) {
  left: 73%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11629ms;
          animation-duration: 11629ms;
  -webkit-animation-delay: 1106ms;
          animation-delay: 1106ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(90) {
  left: 49%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6818ms;
          animation-duration: 6818ms;
  -webkit-animation-delay: 3503ms;
          animation-delay: 3503ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(91) {
  left: 99%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6517ms;
          animation-duration: 6517ms;
  -webkit-animation-delay: 2316ms;
          animation-delay: 2316ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(92) {
  left: 7%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6037ms;
          animation-duration: 6037ms;
  -webkit-animation-delay: 120ms;
          animation-delay: 120ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(93) {
  left: 117%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7947ms;
          animation-duration: 7947ms;
  -webkit-animation-delay: 3160ms;
          animation-delay: 3160ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(94) {
  left: 72%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5151ms;
          animation-duration: 5151ms;
  -webkit-animation-delay: 123ms;
          animation-delay: 123ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(95) {
  left: 8%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6853ms;
          animation-duration: 6853ms;
  -webkit-animation-delay: 1174ms;
          animation-delay: 1174ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(96) {
  left: 21%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6705ms;
          animation-duration: 6705ms;
  -webkit-animation-delay: 1309ms;
          animation-delay: 1309ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(97) {
  left: 98%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9176ms;
          animation-duration: 9176ms;
  -webkit-animation-delay: 1763ms;
          animation-delay: 1763ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(98) {
  left: 101%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 11521ms;
          animation-duration: 11521ms;
  -webkit-animation-delay: 3075ms;
          animation-delay: 3075ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(99) {
  left: 20%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8493ms;
          animation-duration: 8493ms;
  -webkit-animation-delay: 1714ms;
          animation-delay: 1714ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(100) {
  left: 11%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10698ms;
          animation-duration: 10698ms;
  -webkit-animation-delay: 1574ms;
          animation-delay: 1574ms;
  filter: blur(4px);
}

@-webkit-keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0.75;
  }
}